.grid_wrapper{
    position: relative !important;
    height: 100%;
    background-color: #394a5e;
}

.arrowLeft{
    position: absolute !important;
    top: 37.5%;
    left: 7px;
}

.arrowRight{
    position: absolute !important;
    top: 37.5%;
    right: 7px;
}

.cust_details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.prom_img{
    transform: scale(0.8);
    margin: 1rem 0;
}

.broken_prom_img{
    transform: scale(0.7);
    margin: 1rem 0;
}

.broken_promise_data{
    margin-left: 0.4rem;
    height: 27vh;
    width: 13vh;
    border-left: 1px solid #636363;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chart_info{
    height: 31vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #8c98a0;
}

.footer_component1{
    margin: 0.5rem 0 0 2vh;
}

.footer_component2{
    margin: 0.5rem 2vh 0 0;
}

@media screen  and (min-width: 2160px) {
    .prom_img{
        transform: scale(2.5);
        margin: 8rem 0;
    }
    
    .broken_prom_img{
        transform: scale(2);
        margin: 8rem 0;
    }
}

